/*
------------------------------------------------------ 
MIXINS / KEYFRAMES / INCLUDES / VARIABLES
------------------------------------------------------ 
*/
$blue: #3491b2;
$white:#fff;
$black: #000;
$fonts:'Roboto Condensed', sans-serif;
$dark-gray: darkgray;
$lightgray: lightgray;
$orange: orangered;

// FLEX SHRINK/GROW POUR GESTION ESPACE



.bg-orange {
    background-color: $orange;
}

@mixin flex ($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}
/*
@keyframes rotate {
from {
    transform: translateX(-200%);
    transform: rorate(0deg);
}
to{
    transform: rotate(45deg);
    transform: translateX(200%);
}
}
@keyframes left-right {
    from { transform: translateX(-200%), rotate(0deg);
    }
    to {
        transform: translateX(200%), rotate(45deg);
    }
}
*/
@keyframes move-down {
    from { transform: translateY(0);
    }
    to {
        transform: translateY(100%);
    }
}
/*
------------------------------------------------------ 
VISIBILITY
------------------------------------------------------ 
*/
.bg-red {
    background:red;
}
.bg-green {
    background: green;
}
.bg-blue {
    background: blue;
}

/*
------------------------------------------------------ 
RESET ALL
------------------------------------------------------ 
*/
html,
body {
    width: 100%;
    height: 100%;
    background: $black;
}
* {
    margin: 0;
    padding: 0;
    color: $white;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

.link {
    color: rgb(0, 106, 255);
    &:hover {
        text-decoration: underline;
    }
}



/*
------------------------------------------------------ 
HEADER = .navbar + .main-title + slide-menu
------------------------------------------------------ 
*/
header {
    @include flex(row, center, flex-end);
    position: relative;
    width: 100%;
    height: 50%;
    padding: 0;
    overflow: hidden;
    @media screen and (min-width: 992px) {
        height: 50vh;
    }
    figure {
        width: 100%;
    }
}

.navbar-bg {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(rgba(0, 0, 0, 0) 50%, black 90%);
    object-fit: cover;

}
.navbar-bg2 {
    @media screen and (min-width: 1024px) {
        position: relative;
        top: 500px;
        object-fit: cover;
    }
}

header .main-title {
    position: absolute;
    bottom: 0;
    margin-bottom: 2.5%;
    width: 100%;
    @media screen and (min-width: 992px) {
        bottom: -15%;
    }
    &::before {
        content: '';
        background: url("images/favicon.ico") no-repeat;
        display: block;
        background-size: contain;
        position: absolute;
        top: -100%;
        width: 20%;
        height: 150%;
    }
}


.slide-menu-header .main-title {
    position: relative;
    font-size: 1rem;
    margin: 0;
    padding: 0;
    &::before {
        content:'';
        display: none;
    }
}
.menu-toggle {
    position: fixed;
    top: 10px;
    right: 10px;
    padding: 0;
    border: none;
    // @media screen and (min-width: 300px) {
    //     top: 1%;
    //     right: 5%;
    // }
    &:focus {
        box-shadow: none;
    }
}

.nav-menu {
    @include flex(column, center, flex-start);
    height: fit-content;
    width: 60%;
    margin: 0;
    padding: 0;
}

.slide-menu { //slide menu for index.html
    @include flex(column, flex-start, center);
    width: 100%!important;
    height: 50%;
    background: rgba(0, 0, 0, .5);
    padding: 0;
    margin: 0;
    border-left: black 1px solid!important;
    @media screen and (min-width: 500px) {
        width: 25%!important;
    }
    button {
        @extend .menu-toggle;
    }
}
.slide-menus { // slide menu for other pages
    @extend .slide-menu;
    height: 100vh;
    width: 50%!important;
    background: rgba(0, 0, 0, .95);

}
.slide-menu .slide-menu-header {
    @include flex(row, center, center);
    height: 50px;
    width: 100%;
    background-color: $orange;
    margin: 0;
    @media screen and (min-width: 300px) {
        font-size: 2rem;
    }
}
.nav-item {
    @include flex(row, center, center);
    padding: 3%;
    width: 50%;
    text-align: center;
    @media screen and (min-width: 992px) {
        width: 200px;
    }
    &.nav-link {
        height: 100%;
        width: 100%;
        &:hover {
            font-weight: bold;
        }
    }
}



.main-title { /* Title : TEAM RAZORBIKE */
    @include flex(row, center, center);
    position: relative;
    font-family: 'Tilt Warp', 'Climate Crisis', 'Rampart One', 'Roboto Condensed', 'Shantell Sans', 'Anton',  cursive;
    font-size: 1.5rem;
    text-align: center;
    height: fit-content;
    margin: 0;
    padding: 1% 5%;
    text-transform: uppercase;
    color: white;
    & .title-link {
        text-decoration: none;
        color: white;
        padding: 0 10px;
    }
    @media screen and (min-width: 300px) {
        font-size: 2rem;
    }
}

header .bar-title {
    @extend .main-title;
    font-size: 1rem;
    height: 50px;
    background: $orange;
    &::before {
        content: '';
        width: 0;
        height: 0;
        display: none;
    }
}


main {
    @include flex(column, space-around, center);
    max-width: 100%;
    height: 50%;
}
.location {
    position: relative;
    width: 90%;
    margin: 5% auto;
    height: 10%;
    font-size: 1rem;
    overflow: hidden;
    font-family: 'Shantell Sans', 'Roboto Condensed', cursive, sans-serif;
    font-weight: 100;
    span {
        animation: move-down .25s linear ;
        text-align: center;
        @media screen and (min-width: 370px) {
            font-size: 1.5rem;
        }
    }
}

.subtitle {
    position: relative;
    font-family: 'Tilt Warp', cursive; 
    font-size: 3.3rem;
    color: $white;
    text-transform: uppercase;
    text-align: justify;
    width: 90%;
    margin-left: 1%;
    margin-right: 1%;
    overflow: hidden;
    height: 60%;
    span {
        padding: 1% 2%;
        animation: move-down .25s .25s linear ;
        margin-left: 2%;
        margin-right: 2%;
        @media screen and (min-width: 370px) {
            margin-left: 5%;
            margin-right: 5%;
            font-size: 4.5rem;
        }
        @media screen and (min-width: 480px) {
            font-size: 6rem;
            line-height: .9;;
        }
        @media screen and (min-width: 650px) {
            font-size: 8rem;
            line-height: .9;;
        }
        @media screen and (min-width: 992px) {
            font-size: 8rem;
            line-height: .9;;
        }
    }
}

.location span,
.subtitle span { /* Titles come from top transition */
    position: absolute;
    width: 100%;
    bottom: 100%;
    left: 0;
    animation-fill-mode: forwards;
    @media screen and (min-width: 992px) {
        bottom: 120%;
    }
}


ul { // psuedo-links at the bottom of index.html
        @include flex(row, center, center);
        width: 90%;
        margin-bottom: 10%;
        position: relative;
        padding: 0;
        @media screen and (min-width: 992px) {
            margin-bottom: 0;
        }
        li {
            @include flex(row, flex-start, center);
            padding: 1% 2.5%;
            width: auto;
            border-top: 3px solid transparent;
            text-transform: uppercase;
            font-size: .7rem;
            text-align: center;
            
            transition: border-top .5s linear;
            @media screen and (min-width: 360px) {
                font-size: .8rem;
                padding: 1% 2%;;
            }
            &:hover {
                border-top: 3px solid $white;
                transition: border-top .4s linear;
                font-weight: bold;
                transition: font-weight 1s linear;
            }
            &:hover .pseudo-modal {
                z-index: 1;
                transition: z-index 0s linear;
                bottom: 100%;
            }
            .pseudo-modal {
                @include flex(column, flex-end, center);
                position: absolute;
                height: 40vh;
                left: 50%;
                transform: translateX(-50%);
                bottom: 100%; 
                width: 100%;
                overflow: hidden;
                font-size: .5rem;
                font-family: sans-serif;
                z-index: -1;
                transition: z-index 1s linear;
                @media screen and (min-width: 360px) {
                }
                @media screen and (min-width: 992px) {
                    width: 60%;
                }
                .info {
                    @include flex(column, space-between, center);
                    position: relative;
                    height: 100%;
                    width: 90%;
                    bottom: -100%;
                    border-radius: 5px;
                    background: $white;
                    padding: 1% 2%;
                    margin: 0;
                    z-index: -1;
                    transition: bottom linear .5s, z-index linear 5s 5s; /* outcome transition */
                    @media screen and (min-width: 450px) {
                        @include flex(row, space-around, center);
                    }
                    @media screen and (min-width: 992px) {
                        @include flex(row, center, center);
                        gap: 30px;
                    }
                    figcaption * {
                        color: black;
                        text-align: center;
                        font-size: .6rem;
                        text-transform: none;
                        width: 75%;
                        margin: auto;
                        @media screen and (min-width: 450px) {
                            font-size: 1rem;
                        }
                        a {
                            text-decoration: initial;
                            color: initial;
                        }
                    }
                    img {
                        width: 70%;
                        margin: 1%;
                        border-radius: 20px;
                        @media screen and (min-width: 500px) {
                            width: 60%;                            
                        }
                        @media screen and (min-width: 992px) {
                            width: 40%;                            
                        }
                    }
                }
            }
            &:hover .info {
                bottom: 0;
                transition: bottom linear .25s .25s; /* incoming transition */
                z-index: 2;
                padding: 20px;
            }
        }
}


//other pages -----------------------------------------------------------------


.header {
    @include flex(row, center, center);
    position: fixed;
    top: 0;
    height: fit-content;
    width: 100%;
    margin: 0;
    z-index: 2;
}

.page-title {
    height: 100px;
    width: 100%;
    margin: 0;
    padding: 0;
    span {
        font-size: 4rem;
        margin: 0;
        padding: 0;
    }
    .top-title {
        bottom: 80%;
        left: 5%;
}
}
.main-content { // main content for pages other than index.html
    @extend main;
    margin-top: 60px;
    height: auto;
    @media screen and (min-width: 992px) {
        max-width: 900px;
        margin: 50px auto 0;
        border: $white solid 2px;
    }
}
.event { // container
    @include flex (column, space-around, center);
    width: 90%;
    gap: 10px;
    margin: 20px auto;
    border: white 2px solid;
    border-radius: 5px;
}

.event-article {
    @media screen and (min-width: 992px) {
        padding: 50px;
        gap: 20px;
    }
}

.event:nth-child(odd) .event-article {
    @media screen and (min-width: 768px) {
        @include flex (row, center, center);
    }
}

.event:nth-child(even) .event-article {
    @media screen and (min-width: 768px) {
        @include flex (row-reverse, center, center);
    }
}

.event-title { // title
    @include flex(row, center, center);
    font-weight: bold;
    font-size: 1.1rem;
    background: white;
    color: $orange;
    width: 100%;
    height: 2rem;
}


.event-texte { // article text
    @include flex(row, center, center);
    border-radius: 5px;
    color: white;
    width: 90%;
    margin: auto;    
    @media screen and (min-width: 768px) {
        width: 40%;
    }
    p {
        text-align: justify;
    }
}
.event-info { // article info : img + form + date + address
    @include flex(row, center, flex-start);
    @media screen and (min-width: 768px) {
        width: 40%;
    }
    figure {
        @include flex(column, center, center);
        width: 90%;
        margin: 35px;
        img {
            background-color: white;
            width: 100%;
            border-radius: 10px;
            margin: 5px;
            object-fit: cover;
        }
    }
}

// modal pre-inscription
.modal-access {
    color: $black;
    background: $orange;
    transition: all .5s linear;
    width: 100%;
    padding: 15px;
    &:hover {
        color: $orange;
        background: $black;
        border-color: white;
        font-weight: bold;
        transition: all .5s linear;
    }
}

.modal-dialog {
    @include flex(row, center, center); 
    padding: 15px;
    height: 100%;
    margin: 0 auto;
}
.modal-content {
    @include flex(column, space-around, center);
    position: relative;
    width: fit-content;
    height: 500px;
    margin: auto;
    padding: 5px 5px;
    .modal-body {
        width: 100%;
        padding: 0;
    }
    .modal-title,
    label {
        display: block;
        color: $black;
        gap: 10px;
        width: 80%;
        margin: 2px auto;
    }
    .modal-title {
        font-size: 1.4rem;
        width: 100%;
        padding-top: 20px;
    }
    input {
        color: $orange;
        padding: 5px 15px;
        border-radius: 5px;
        width: 100%;
        &:focus{
            background: lighten($orange, 40%);
            outline-color: $orange;
        }
    }
    input::placeholder {
        color: black;
        opacity: .5;
    }
    select {
        @extend input;
        color: black;
    }
    button {
        padding: .4rem 1rem;
        border: none;
        border-radius: 5px;
        transition: all .25s linear;
        &:hover {
            font-weight: bold;
            font-size: 1.4rem;
            transition: all .25s linear;
        }
        &[type="submit"] {
        background: green;
        }
        &.close {
            background: red;
        }
    }
    .modal-header {
        border: none;
        width: 100%;
        text-align: center;
    }
    .modal-header button {
        @include flex(row, center, center);
        position: absolute;
        top: 10px;
        right: 15px;
        width: 15px;
        height: 15px;
        padding: .6rem
    }
    .modal-footer {
        @include flex(row, center, center);
        gap: 20px;
        border: none;
        width: 100%;
        height: 5rem;
    }
}
