/*
------------------------------------------------------ 
MIXINS / KEYFRAMES / INCLUDES / VARIABLES
------------------------------------------------------ 
*/
$blue: #3491b2;
$white:#fff;
$black: #000;
$fonts:'Roboto Condensed', sans-serif;
$dark-gray: darkgray;
$lightgray: lightgray;
$orange: orangered;

@mixin flex ($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    width: 100%;
    height: 100%;
}
/*
------------------------------------------------------ 
VISIBILITY
------------------------------------------------------ 
*/
.border-red {
    border:red 2px solid;
}

/*
------------------------------------------------------ 
RESET ALL
------------------------------------------------------ 
*/
html,
body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background: $black;
}
* {
    list-style: none;
    text-decoration: none;
}



/*
------------------------------------------------------ 
HEADER
------------------------------------------------------ 
*/
.navbar {
    @include flex(row, center, flex-end);
    background: url("images/contact2.jpg") no-repeat 0 -200px;
    background-size: cover;
    height: 50%;
    box-shadow: 0 5px 35px black;
    position: relative;
    @media screen and (min-width: 1024px) {
        height: 50px;
        background-position: 0 -100px;
    }
    .menu-toggle {
        position: absolute;
        right: 20px;
        top: 20px;
        background: transparent;
        color: $white;
        border: none;
        box-shadow: 10px 1px0 10px black;
    }
    .main-title {
        bottom: 0;
        left: 0;
        text-align: center;
        color: $white;
        font-size: 4rem;
        margin: 0;
    }
}
.main-content {
    @include flex(column, flex-start, center);
    .main-title {
        font-size: 4rem;
        color: $orange;
        margin: 0;
    }
    .subtitle {
        font-size: 2rem;
        color: $white;
        margin: 0;
    }
}