/*
------------------------------------------------------ 
MIXINS / KEYFRAMES / INCLUDES / VARIABLES
------------------------------------------------------ 
*/
.bg-orange {
  background-color: orangered;
}

/*
------------------------------------------------------ 
VISIBILITY
------------------------------------------------------ 
*/
.bg-red {
  background: red;
}

.bg-green {
  background: green;
}

.bg-blue {
  background: blue;
}

/*
------------------------------------------------------ 
RESET ALL
------------------------------------------------------ 
*/
html,
body {
  width: 100%;
  height: 100%;
  background: #000;
}

* {
  margin: 0;
  padding: 0;
  color: #fff;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

.link {
  color: rgb(0, 106, 255);
}
.link:hover {
  text-decoration: underline;
}

/*
------------------------------------------------------ 
HEADER = .navbar + .main-title + slide-menu
------------------------------------------------------ 
*/
header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  position: relative;
  width: 100%;
  height: 50%;
  padding: 0;
  overflow: hidden;
}
@media screen and (min-width: 992px) {
  header {
    height: 50vh;
  }
}
header figure {
  width: 100%;
}

.navbar-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(rgba(0, 0, 0, 0) 50%, black 90%);
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (min-width: 1024px) {
  .navbar-bg2 {
    position: relative;
    top: 500px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

header .main-title, header .bar-title {
  position: absolute;
  bottom: 0;
  margin-bottom: 2.5%;
  width: 100%;
}
@media screen and (min-width: 992px) {
  header .main-title, header .bar-title {
    bottom: -10%;
  }
}
header .main-title::before, header .bar-title::before {
  content: "";
  background: url("images/favicon.ico") no-repeat;
  display: block;
  background-size: contain;
  position: absolute;
  top: -100%;
  width: 20%;
  height: 150%;
}

.slide-menu-header .main-title, .slide-menu-header header .bar-title, header .slide-menu-header .bar-title {
  position: relative;
  font-size: 1rem;
  margin: 0;
  padding: 0;
}
.slide-menu-header .main-title::before, .slide-menu-header header .bar-title::before, header .slide-menu-header .bar-title::before {
  content: "";
  display: none;
}

.menu-toggle, .slide-menu button, .slide-menus button {
  position: fixed;
  top: 10px;
  right: 10px;
  padding: 0;
  border: none;
}
.menu-toggle:focus, .slide-menu button:focus, .slide-menus button:focus {
  box-shadow: none;
}

.nav-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: -moz-fit-content;
  height: fit-content;
  width: 60%;
  margin: 0;
  padding: 0;
}

.slide-menu, .slide-menus {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100% !important;
  height: 50%;
  background: rgba(0, 0, 0, 0.5);
  padding: 0;
  margin: 0;
  border-left: black 1px solid !important;
}
@media screen and (min-width: 500px) {
  .slide-menu, .slide-menus {
    width: 25% !important;
  }
}
.slide-menus {
  height: 100vh;
  width: 50% !important;
  background: rgba(0, 0, 0, 0.95);
}

.slide-menu .slide-menu-header, .slide-menus .slide-menu-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 100%;
  background-color: orangered;
  margin: 0;
}
@media screen and (min-width: 300px) {
  .slide-menu .slide-menu-header, .slide-menus .slide-menu-header {
    font-size: 2rem;
  }
}

.nav-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 3%;
  width: 50%;
  text-align: center;
}
@media screen and (min-width: 992px) {
  .nav-item {
    width: 200px;
  }
}
.nav-item.nav-link {
  height: 100%;
  width: 100%;
}
.nav-item.nav-link:hover {
  font-weight: bold;
}

.main-title, header .bar-title { /* Title : TEAM RAZORBIKE */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  font-family: "Tilt Warp", "Climate Crisis", "Rampart One", "Roboto Condensed", "Shantell Sans", "Anton", cursive;
  font-size: 1.5rem;
  text-align: center;
  height: -moz-fit-content;
  height: fit-content;
  margin: 0;
  padding: 1% 5%;
  text-transform: uppercase;
  color: white;
}
.main-title .title-link, header .bar-title .title-link {
  text-decoration: none;
  color: white;
  padding: 0 10px;
}
@media screen and (min-width: 300px) {
  .main-title, header .bar-title {
    font-size: 2rem;
  }
}

header .bar-title {
  font-size: 1rem;
  height: 50px;
  background: orangered;
}
header .bar-title::before {
  content: "";
  width: 0;
  height: 0;
  display: none;
}

main, .main-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  max-width: 100%;
  height: 50%;
}

.location {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 90%;
  margin: 5% auto;
  height: 10%;
  font-size: 1rem;
  overflow: hidden;
  font-family: "Shantell Sans", "Roboto Condensed", cursive, sans-serif;
  font-weight: 100;
}
.location span {
  animation: move-down 0.25s linear;
  text-align: center;
}
@media screen and (min-width: 370px) {
  .location span {
    font-size: 1.5rem;
  }
}

.subtitle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  font-family: "Tilt Warp", cursive;
  font-size: 3.3rem;
  color: #fff;
  text-transform: uppercase;
  text-align: justify;
  width: 90%;
  margin-left: 1%;
  margin-right: 1%;
  overflow: hidden;
  height: 60%;
}
.subtitle span {
  padding: 1% 2%;
  margin-left: 2%;
  margin-right: 2%;
}
@media screen and (min-width: 370px) {
  .subtitle span {
    margin-left: 5%;
    margin-right: 5%;
    font-size: 4.5rem;
  }
}
@media screen and (min-width: 480px) {
  .subtitle span {
    font-size: 5rem;
  }
}
@media screen and (min-width: 600px) {
  .subtitle span {
    font-size: 6rem;
    line-height: 0.8;
  }
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin-bottom: 10%;
  position: relative;
  padding: 0;
}
@media screen and (min-width: 992px) {
  ul {
    margin-bottom: 0;
  }
}
ul li {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 1% 2.5%;
  width: auto;
  border-top: 3px solid transparent;
  text-transform: uppercase;
  font-size: 0.7rem;
  text-align: center;
  transition: border-top 0.5s linear;
}
@media screen and (min-width: 360px) {
  ul li {
    font-size: 0.8rem;
    padding: 1% 2%;
  }
}
ul li:hover {
  border-top: 3px solid #fff;
  transition: border-top 0.4s linear;
  font-weight: bold;
  transition: font-weight 1s linear;
}
ul li:hover .pseudo-modal {
  z-index: 1;
  transition: z-index 0s linear;
  bottom: 100%;
}
ul li .pseudo-modal {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  height: 40vh;
  left: 50%;
  transform: translateX(-50%);
  bottom: 100%;
  width: 100%;
  overflow: hidden;
  font-size: 0.5rem;
  font-family: sans-serif;
  z-index: -1;
  transition: z-index 1s linear;
}
@media screen and (min-width: 360px) {
  ul li .pseudo-modal {
    width: 70%;
  }
}
@media screen and (min-width: 992px) {
  ul li .pseudo-modal {
    width: 60%;
  }
}
ul li .pseudo-modal .info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 100%;
  width: 90%;
  bottom: -100%;
  border-radius: 5px;
  background: #fff;
  padding: 1% 2%;
  margin: 0;
  z-index: -1;
  transition: bottom linear 0.5s, z-index linear 5s 5s; /* outcome transition */
}
@media screen and (min-width: 650px) {
  ul li .pseudo-modal .info {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}
@media screen and (min-width: 992px) {
  ul li .pseudo-modal .info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
}
ul li .pseudo-modal .info figcaption * {
  color: black;
  text-align: center;
  font-size: 0.6rem;
  text-transform: none;
  width: 75%;
  margin: auto;
}
@media screen and (min-width: 450px) {
  ul li .pseudo-modal .info figcaption * {
    font-size: 1rem;
  }
}
ul li .pseudo-modal .info figcaption * a {
  text-decoration: initial;
  color: orangered;
}
ul li .pseudo-modal .info figcaption * a:hover {
  text-decoration: underline;
}
ul li .pseudo-modal .info img {
  width: 70%;
  margin: 1%;
  border-radius: 20px;
}
@media screen and (min-width: 450px) {
  ul li .pseudo-modal .info img {
    width: 40%;
  }
}
@media screen and (min-width: 50px) {
  ul li .pseudo-modal .info img {
    width: 50%;
  }
}
@media screen and (min-width: 992px) {
  ul li .pseudo-modal .info img {
    width: 40%;
  }
}
ul li:hover .info {
  bottom: 0;
  transition: bottom linear 0.25s 0.25s; /* incoming transition */
  z-index: 2;
  padding: 20px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  margin: 0;
  z-index: 2;
}

.page-title {
  height: 100px;
  width: 100%;
  margin: 0;
  padding: 0;
}
.page-title span {
  font-size: 4rem;
  margin: 0;
  padding: 0;
}
.page-title .top-title {
  bottom: 80%;
  left: 5%;
}

.main-content {
  margin-top: 60px;
  height: auto;
}
@media screen and (min-width: 992px) {
  .main-content {
    max-width: 900px;
    margin: 50px auto 0;
    border: #fff solid 2px;
  }
}

.event {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  gap: 10px;
  margin: 20px auto;
  border: white 2px solid;
  border-radius: 5px;
}

@media screen and (min-width: 992px) {
  .event-article {
    padding: 50px;
    gap: 20px;
  }
}

@media screen and (min-width: 768px) {
  .event:nth-child(odd) .event-article {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .event:nth-child(even) .event-article {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
  }
}

.event-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 1.1rem;
  background: white;
  color: orangered;
  width: 100%;
  height: 2rem;
}

.event-texte {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  color: white;
  width: 90%;
  margin: auto;
}
@media screen and (min-width: 768px) {
  .event-texte {
    width: 40%;
  }
}
.event-texte p {
  text-align: justify;
}

.event-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}
@media screen and (min-width: 768px) {
  .event-info {
    width: 40%;
  }
}
.event-info figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: 35px;
}
.event-info figure img {
  background-color: white;
  width: 100%;
  border-radius: 10px;
  margin: 5px;
  -o-object-fit: cover;
     object-fit: cover;
}

.modal-access {
  color: #000;
  background: orangered;
  transition: all 0.5s linear;
  width: 100%;
  padding: 15px;
}
.modal-access:hover {
  color: orangered;
  background: #000;
  border-color: white;
  font-weight: bold;
  transition: all 0.5s linear;
}

.modal-dialog {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px;
  height: 100%;
  margin: 0 auto;
}

.modal-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  height: 500px;
  margin: auto;
  padding: 5px 5px;
}
.modal-content .modal-body {
  width: 100%;
  padding: 0;
}
.modal-content .modal-title,
.modal-content label {
  display: block;
  color: #000;
  gap: 10px;
  width: 80%;
  margin: 2px auto;
}
.modal-content .modal-title {
  font-size: 1.4rem;
  width: 100%;
  padding-top: 20px;
}
.modal-content input, .modal-content select {
  color: orangered;
  padding: 5px 15px;
  border-radius: 5px;
  width: 100%;
}
.modal-content input:focus, .modal-content select:focus {
  background: #ffdacc;
  outline-color: orangered;
}
.modal-content input::-moz-placeholder, .modal-content select::-moz-placeholder {
  color: black;
  opacity: 0.5;
}
.modal-content input::placeholder, .modal-content select::placeholder {
  color: black;
  opacity: 0.5;
}
.modal-content select {
  color: black;
}
.modal-content button {
  padding: 0.4rem 1rem;
  border: none;
  border-radius: 5px;
  transition: all 0.25s linear;
}
.modal-content button:hover {
  font-weight: bold;
  font-size: 1.4rem;
  transition: all 0.25s linear;
}
.modal-content button[type=submit] {
  background: green;
}
.modal-content button.close {
  background: red;
}
.modal-content .modal-header {
  border: none;
  width: 100%;
  text-align: center;
}
.modal-content .modal-header button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 10px;
  right: 15px;
  width: 15px;
  height: 15px;
  padding: 0.6rem;
}
.modal-content .modal-footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border: none;
  width: 100%;
  height: 5rem;
}/*# sourceMappingURL=style.css.map */